<ion-view view-title="Hiligaynun Krush">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list card-item">
            <div ui-sref="app.playlists({topicId:'learn'})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-icon-right">
                    <span class="avatar" style="background-image: url('img/material1.jpg');"></span>
                    <h2>Hibaluon Ta</h2>
                    <i class="icon ion-chevron-right positive"></i>
                </div>
            </div>
        </div>
        <div class="list card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-icon-right">
                    <span class="avatar" style="background-image: url('img/material2.jpg');"></span>
                    <h2>Hampang</h2>
                    <i class="icon ion-chevron-right positive"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
