<ion-view view-title="Hiligaynon Krush">
    <ion-content>
        <div class="list card">
            <div ui-sref="app.playlists({topicId:'learn'})" class="stable-bg">
            <!-- <div class="stable-bg" ng-click="popover.show($event)"> -->
                <div class="item item-avatar item-icon-right">
                    <img class="avatar" src="img/material1.jpg"></img>
                    <h2>Hibaluon Ta</h2>
                    <i class="icon ion-chevron-right royal"></i>
                </div>
            </div>
        </div>
        <div class="list card">
            <div ui-sref="app.playlists({topicId:'quiz'})" class="stable-bg">
                <div class="item item-avatar item-icon-right">
                    <img class="avatar" src="img/material2.jpg"></img>
                    <h2>Hilikuton</h2>
                    <i class="icon ion-chevron-right royal"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

