<ion-view view-title="Settings">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Background Music
            </div>
            <div class="item item-toggle">
                ON/OFF
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="music">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider">
                Sound Volume
            </div>
            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" ng-model="volume" min="0" max="100">
                <i class="icon ion-volume-high"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
