<ion-view view-title="App Information">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <p class="text-center text-uppercase text-bold"> 
                	MOTHER TONGUE BASED
                    <br> MULTI LINGUAL EDUCATION
                    <br> (MTB-MLE)
                    <br> KAGAMITAN NG MAG-AARAL
                    <br> HILIGAYNON
                    <br>
                    <br> KAGAWARAN NG EDUKASYON
                    <br> REPUBLIKA NG PILIPINAS
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <p class="text-left text-uppercase text-bold"> 
                    Pictures are taken from <span class="positive">www.google.com</span> and 
                    for the sounds of things and animals on <span class="positive">www.youtube.com</span>
                    <br>
                    <br> Voice of <ins>ms. Jenyl nifras</ins> and <ins>nonita calumag</ins>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
