<ion-view view-title="App Information">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list card">
            <div class="item item-body">
                <p class="text-center text-uppercase text-bold"> 
                	MOTHER TONGUE BASED
                    <br> MULTI LINGUAL EDUCATION
                    <br> (MTB-MLE)
                    <br> KAGAMITAN NG MAG-AARAL
                    <br> HILIGAYNON
                    <br>
                    <br> KAGAWARAN NG EDUKASYON
                    <br> REPUBLIKA NG PILIPINAS
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
