<ion-view view-title="App Author">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-slide-box>
            <ion-slide>
                <div class="list card">
                    <div class="item item-divider text-uppercase">
                        Personal Information
                    </div>
                    <div class="item item-body text-center">
                        <img class="img-thumbnail" src="img/material2.jpg">
                        <div class="text-left">
                            <label class="item-input">
                                <span class="input-label text-uppercase">NAME:</span> Keny Cris T. Alipo-on
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">ADDRESS:</span> Brgy. 2
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CONTACT NUMBER:</span> 09302442565
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">Email Address:</span> KenyCris@gmail.com
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">DATE OF BIRTH:</span> July 21, 1994
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CITIZENSHIP:</span> Filipino
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">GENDER:</span> Female
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider text-uppercase">
                        EDUCATIONAL BACKGROUND
                    </div>
                    <div class="text-left">
                        <label class="item-input">
                            <span class="input-label text-uppercase">ELEMENTARY:</span> Erams – West (2004-2007)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">SECONDARY:</span> Kabankalan Catholic College (2008-2009)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">COLLEGE:</span> Fellowship Baptist College (2015-2016)
                        </label>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="list card">
                    <div class="item item-divider text-uppercase">
                        Personal Information
                    </div>
                    <div class="item item-body text-center">
                        <img class="img-thumbnail" src="img/material1.jpg">
                        <div class="text-left">
                            <label class="item-input">
                                <span class="input-label text-uppercase">NAME:</span> Nonita S. Calumag
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">ADDRESS:</span> Blk 3 lot 5-7 RZP Village Bry. Talubangi Kabankalan City
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CONTACT NUMBER:</span> 09302442565
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">Email Address:</span> quequeshane@gmail.com
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">DATE OF BIRTH:</span> January 31,1988
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CITIZENSHIP:</span> Filipino
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">GENDER:</span> Female
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider text-uppercase">
                        EDUCATIONAL BACKGROUND
                    </div>
                    <div class="text-left">
                        <label class="item-input">
                            <span class="input-label text-uppercase">ELEMENTARY:</span> Felisa Elementary School (2000-2001)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">SECONDARY:</span> Jovito H. Sayson National High School (2004-2005)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">COLLEGE:</span> Fellowship Baptist College (2015-2016)
                        </label>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="list card">
                    <div class="item item-divider text-uppercase">
                        Personal Information
                    </div>
                    <div class="item item-body text-center">
                        <img class="img-thumbnail" src="img/material4.jpg">
                        <div class="text-left">
                            <label class="item-input">
                                <span class="input-label text-uppercase">NAME:</span> Michelle F. Ortega
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">ADDRESS:</span> Brgy. Hilamonan Kabankalan City, Negros Occidental
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CONTACT NUMBER:</span> 09104616656
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">Email Address:</span> michortegaelle@gmail.com
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">DATE OF BIRTH:</span> Sepember 16, 1994
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">CITIZENSHIP:</span> Filipino
                            </label>
                            <label class="item-input">
                                <span class="input-label text-uppercase">GENDER:</span> Female
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider text-uppercase">
                        EDUCATIONAL BACKGROUND
                    </div>
                    <div class="text-left">
                        <label class="item-input">
                            <span class="input-label text-uppercase">ELEMENTARY:</span> Hilamonan Elementary School (2005-2006)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">SECONDARY:</span> Fortress College (2010-2011)
                        </label>
                        <label class="item-input">
                            <span class="input-label text-uppercase">COLLEGE:</span> Fellowship Baptist College (2015-2016)
                        </label>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
