<ion-view view-title="">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{details.img}}">
            </div>
            <div class="item item-divider">
                Sound
            </div>
            <ion-audio-track track="details">
                <div class="item padding" ng-hide="details.url =='file:///android_asset/www/' || details.url =='file://'">
                    <ion-audio-controls>
                        <button class="button button-block button-small button-assertive icon-left" ion-audio-play text-play="Play" text-pause="Pause"></button>
                        <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                    </ion-audio-controls>
                </div>
                <!-- <div class="item item-divider" ng-hide="details.url =='file:///android_asset/www/' || details.url =='file://'">
                    <ion-audio-progress-bar display-time></ion-audio-progress-bar>
                </div> -->
            </ion-audio-track>
            <div class="item item-divider">
                Picture
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{details.sample}}" ng-show="details.sample !==''">
            </div>
        </div>
    </ion-content>
</ion-view>
