<ion-view view-title="">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{details.img}}">
            </div>
            <div class="item item-divider">
               Picture
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{details.sample}}" ng-show="details.sample !==''">
            </div>
        </div>
    </ion-content>
</ion-view>
