<ion-view view-title="Hiligaynun Krush">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-list>
            <ion-item href="#/app/playlist/letra" class="item item-avatar item-icon-right">
                <img src="img/logo.png">
                <h2>Mga Letra</h2>
                <i class="icon ion-chevron-right royal"></i>
            </ion-item>
            <ion-item href="#/app/sounds/huni" class="item item-avatar item-icon-right">
                <img src="img/fs-file.png">
                <h2>Mga Huni</h2>
                <i class="icon ion-chevron-right royal"></i>
            </ion-item>
            <ion-item ng-click="showKunla()" href="#" class="item item-avatar item-icon-right">
                <img src="img/material3.jpg">
                <h2>Kunla / Syllables</h2>
                <i class="icon ion-chevron-right royal"></i>
            </ion-item>
            <ion-item ng-click="showSuli()" href="#" class="item item-avatar item-icon-right">
                <img src="img/material3.jpg">
                <h2>Parehas kag Suli</h2>
                <i class="icon ion-chevron-right royal"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
