<ion-view view-title="Kunla" hide-back-button="true">
    <ion-content padding="true">
        <div class="list card">
            <div class="item item-body">
                <h1 class="text-center">{{questions.title}}</h1>
            </div>
        </div>
        <div class="list">
            <ion-radio ng-repeat="answer in questions.choices" ng-value="answer.choice" ng-model="answer.checked" ng-click="serverSideChange($index,answer,questions)">
                {{answer.choice}}
            </ion-radio>
        </div>
    </ion-content>
    <div class="bar bar-footer stable-bg">
        <div class="button-bar button-assertive">
            <a class="button button-positive" ng-click="previousquestion()">PREV</a>
            <a class="button button-assertive" ng-click="home()">HOME</a>
            <a class="button button-positive" ng-click="nextquestion()">NEXT</a>
        </div>
    </div>
</ion-view>
