<ion-view view-title="Kunla" hide-back-button="true">
    <ion-content padding="true">
        <div class="list card">
            <div class="item item-body">
                <h1 class="text-center">{{questions.title}}</h1>
            </div>
        </div>
        <div class="list">
            <ion-radio ng-repeat="answer in questions.choices" ng-value="answer.choice" ng-model="answer.checked" ng-click="serverSideChange($index,answer,questions)">
                {{answer.choice}}
            </ion-radio>
        </div>
    </ion-content>
    <div class="bar bar-subfooter has-customsubfooter positive-bg positive-border">
        <div class="row">
            <div class="col">
                <a class="button button-block button-energized" ng-click="previousquestion()">
                    PREV
                </a>
            </div>
            <div class="col">
                <button class="button button-block button-energized" ng-click="nextquestion()">
                    NEXT
                </button>
            </div>
        </div>
        <div class="row">
            <a class="button button-block button-assertive" ng-click="home()">
                HOME
            </a>
        </div>
    </div>
</ion-view>
